include include/mixines
extends include/layout
block content
    script(src="/js/user.bundle.js")
    +gridPanel
        +greenBtn('saveDialog', 'newUserAction', $.msg("user.add"))
        +empty('emptyInfo')= $.msg("user.empty")
        +grid('userList', $.msg("user.update"), $.msg("user.delete"), 'editUserAction', 'deleteUserAction')
            +column50= $.msg("user.userTitle")
            +column25= $.msg("user.author")
            +column25= $.msg("user.genres")
    +formDialog('saveDialog', 'saveUserAction', $.msg("common.close"), $.msg("common.save"))
        +formHidden('userId')
        +formField('userTitle', $.msg("user.userTitle"), $.msg("user.enterTitle"))
        .form-group
            label(for="userAuthor")= $.msg("user.author")
            select.form-control.select2(
                id="userAuthor"
                data-theme="bootstrap4"
                required
                data-not-selected=$.msg("common.notSelected"))
        .form-group
            label(for="userGenres")= $.msg("user.genres")
            select.form-control.select2(
                id="userGenres"
                multiple="multiple"
                required
                data-theme="bootstrap4"
                data-placeholder=$.msg("user.selectGenre")
                data-allow-clear="true")